ARCA_CUIT=00000000000
ARCA_PRODUCTION=false
ARCA_CERT_PATH=./certs/certificado.crt
ARCA_KEY_PATH=./certs/privada.key
ARCA_POINT_OF_SALE=1
# 1 = Factura A, 6 = Factura B, 11 = Factura C
ARCA_VOUCHER_TYPE=11
